label{
    color :darkred;
    font-size: 20px;
}

table{
    border-collapse: collapse;


}



input{
    width: 200px;
    background-color: darkgray;


}

body{
    background-color: burlywood;

}

fieldset{

    width: 300px;
    margin: auto;
}

th {
    border: maroon 2px solid;
    padding-left: 10px;
    padding-right: 10px;
    color: darkred;
}